.about {
  background-color: #d8ecfe;

}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 600px;
}

.about__inner {
  width: 550px;
}

.about__style {
  margin-bottom: 24px;
}

.about__img {
  align-self: flex-end;
}
